[Desktop Entry]
Version=1.0
Name=Normal-Screen
Name[es]=Pantalla-Normal
Comment=Change the size of the screen to normal of the mini-laptop
Comment[es]=Cambia el tamaño de la pantalla de una mini-portatil a normal
Exec=/home/josean/cambiar-TP/pantalla-normal.sh
Icon=/usr/share/icons/gnome/256x256/apps/utilities-system-monitor.png
Terminal=true
Type=Application
Categories=Utility;
Name[es_VE]=Normal
